*.log
*.pyc
*.ipf
**/prev/
itos_unpack/
ktos_unpack/
jtos_unpack/
ktest_unpack/
twtos_unpack/
itos_patch/
ktos_patch/
jtos_patch/
ktest_patch/
twtos_patch/
TavernofSoul/JSON_itos/
TavernofSoul/JSON_ktos/
TavernofSoul/JSON_ktest/
TavernofSoul/JSON_jtos/
TavernofSoul/JSON_twtos/
