{% extends 'base/index.html' %}
{% load translate%}
<!--Block content goes below-->
{%block head%}
    <title>{{item.name}} - Tavern of Soul</title>
    <meta content="{{item.name}} - Tavern of Soul" property="og:title" />
    <meta content="{{item.descriptions}}" property="og:description" />
    <meta content="https://itos.tavernofsoul.com" property="og:url" />
    {%if item.cards%}
    	<meta content="https://itos.tavernofsoul.com/static/icons/{{item.cards.icon}}.jpg" property="og:image" />
    {%else%}
    	<meta content="https://itos.tavernofsoul.com/static/icons/{{item.icon}}.png" property="og:image" />
    {%endif%}
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
     <meta  property="og:description"content="
    {%if desc%}
        {% for line in desc%}
          {{line}}
        {%endfor%}
    {%endif%}">
    <meta name="description" content="
    {%if desc%}
        {% for line in desc%}
          {{line}}
        {%endfor%}
    {%endif%}">

{%endblock%}

  {% block content %}

<h1 id="title">{{item.name}}</h1>
{%if desc%}
	{% for line in desc%}
		<p class="mb-0">{{line}}</p>
	{%endfor%}
{%endif%}
{%if item.books.text%}

{%endif%}
<br>
	  
<div class="form-inline">
	<table class="table-bordered border border-white border-responsive mt-1 tabe" >
    <thead>
      <tr>
      	<th>ClassID</th> 	
      </tr>
    </thead>
    <tbody>
    	 <tr>
    	 	<td>{{item.ids}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
      	<th>ClassName</th>
      </tr>
    </thead>
    <tbody>
    	 <tr>
    	 	<td>{{item.id_name}}</td>
      </tr>
    </tbody>
 
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
        <th>{{"Type" | translate}}</th>
      </tr>
    </thead>
    <tbody>
    	 <tr>
    	 	{% if item.equipments%}
    	 		<td>{{item.equipments.type_equipment}}</td>
    	 	{%else%}
        	<td>{{item.type}}</td>
        {%endif%}
      </tr>
    </tbody>
 
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
        {%if item.grade%}
        	<th>{{"Grade" | translate}}</th>
        {%endif%}
      </tr>
    </thead>
    <tbody>
    	 <tr>
        {%if item.grade%}
        	<td class="cell-center"><span class="item-grade item-grade-{{item.grade}}"></span></td>
        {%endif%}
      </tr>
    </tbody>
 
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
        <th>{{"Trade" | translate}}</th>
      </tr>
    </thead>
    <tbody>
    	 <tr>
        <td>{{item.tradability}}</td>
      </tr>
    </tbody>
 
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
        {%if item.Weight > 0%}
        	<th>{{"Weight" | translate}}</th>
        {%endif%}
      </tr>
    </thead>
    <tbody>
    	 <tr>
        {%if item.Weight > 0%}
        	<td>{{item.weight}}</td>
        {%endif%}
      </tr>
    </tbody>
 
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
        {%if item.equipments%}
        	<th>{{"Level" | translate}}</th>
        {%endif%}
      </tr>
    </thead>
    <tbody>
    	 <tr>
        {%if item.equipments%}
        	<td>{{item.equipments.level}}</th>
        {%endif%}
      </tr>
    </tbody>
 
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
        {%if item.equipments%}
        	<th>{{"Class" | translate}}</th>
        {%endif%}
      </tr>
    </thead>
    <tbody>
    	 <tr>
        {%if item.equipments%}
        	<td>{{item.equipments.requiredClass}}</th>
        {%endif%}
      </tr>
    </tbody>
 
  </table>
</div>

  
  
{%if item.equipments%}
	<br>
	<div class="form-inline align-items-start">
		<div class="mr-4">
			<h2>{{"Stats" | translate}}</h2>
	  <table class="table-bordered border border-white border-responsive mt-1 tabe">
	    <thead>
	      <tr>

        	<th>{{"Durability" | translate}}</th>
        	{%if item.equipments.potential > -1%}
        	<th>{{"Potential" | translate}}</th>
        	{%endif%}
        	<th>{{"Socket" | translate}}</th>
	      </tr>
	    </thead>
	    <tbody>

        	<td>{{item.equipments.durability}}</td>
        	{%if item.equipments.potential > -1%}
        	<td>{{item.equipments.potential}}</td>
        	{%endif%}
        	<td>{{item.equipments.sockets_limit}}</td>
	      </tr>
	    </tbody>
	 
	  </table>
	  <br>

	  <table class="table-bordered border border-white border-responsive mt-1 tabe">
	    <thead>
	      <tr>
	      	{% if item.equipments.patk or item.equipments.is_goddess_armor%}
	      	<th>{{"PATK"|translate}}</th>
	      	{% endif %}
	      	{% if item.equipments.matk or item.equipments.is_goddess_armor%}
	      	<th>{{"MATK"|translate}}</th>
	      	{% endif %}
	      	{% if item.equipments.pdef%}
	        <th>{{"PDEF"|translate}}</th>
	        {% endif %}
	        {% if item.equipments.mdef%}
        	<th>{{"MDEF"|translate}}</th>
        	{% endif %}

	      </tr>
	    </thead>
	    <tbody>
	    	 <tr>
	    	 	{%if item.equipments.is_goddess_armor%}
	    	 		<td id ='patk-ench'>0</td>
	    	 	{%endif%}
	    	 	{% if item.equipments.patk %}
	    	 		<td ><span id = "patk">{{item.equipments.patk}}</span> - <span id = "patk_max">{{item.equipments.patk_max}}</span></td>
	    	 	{%endif%}
	    	 	{%if item.equipments.is_goddess_armor%}
	    	 		<td id ='matk-ench'>0</td>
	    	 	{%endif%}
	    	 	{% if item.equipments.matk %}
	      		<td id = "matk" >{{item.equipments.matk}}</td>
	      	{% endif %}

	      	{% if item.equipments.pdef%}
	        	<td id = "pdef">{{item.equipments.pdef}}</td>
	        {% endif %}

	        {% if item.equipments.mdef%}
        		<td id = "mdef">{{item.equipments.mdef}}</td>
        	{% endif %}

	      </tr>
	    </tbody>
	 
	  </table>

  
  {%if equipment_bonus%}
	  <br>
	  <table class="table-bordered border border-white border-responsive mt-1 tabe">
	    <tbody>
	    	{%for bonus in equipment_bonus%}
	    	 <tr>
	    			<th>{{bonus.bonus_stat}}</th>

	    			<td>
	    		            {%for b in bonus.bonus_val %}
                                     {{b}}<br> {%endfor%}
	    					
	    			</td>
	      </tr>
	      {%endfor%}
	    </tbody>
	 
	  </table>
	{%endif%}
		</div>
	
	<div class="mr 4">
			
	{%if item.equipments.patk or item.equipments.matk or item.equipments.mdef or item.equipments.def %}
        {%if item.equipments.type_equipment != 'Arcane' %}
	  <h2>Enhancement</h2>
	  <div class="form-inline">
		  <table class="table-bordered border border-white border-responsive mt-1 mr-2 tabe">
		  	<thead>
		      <tr>
		      	<th >{{"Anvil" | translate}}</th>
		      	<th >{{"Bonus" | translate}}</th>
		      	{%if item.grade == 6%}
		      		<th >{{"Gabija token" | translate}}</th>
	        		<th >{{"Scales" | translate}}</th>
	        		<th >{{"Chance" | translate}}</th>
		      	{%else%}
			        <th >{{"Price" | translate}}</th>
		        	<th >{{"Total" | translate}}</th>
		        {%endif%}
		      </tr>
		    </thead>
		    <tbody style="text-align:center">
		    	<tr>
		      	<td ><input class="form-control-sm " type='text'
		      		id="anvil" style="width :40px"></td>
		      	<td id = 'anvil_bonus' ></td>
		      	{%if item.grade == 6%}
			      	<td id = 'god_gabija' ></td>
		        	<td id = 'god_scale'></td>
		        	<td id = 'god_chance'></td>
		      	{%else%}
		        <td id = 'anvil_price' ></td>
	        	<td id = 'anvil_total'></td>
	        	{%endif%}
		      </tr>
		    </tbody>
		 
		  </table>

		  <br>
		  <table class="table-bordered border border-white border-responsive mt-1 tabe">
		  	<thead>
		      <tr>
		      	<th >{{"Transcend" | translate}}</th>
		      	<th >{{"Bonus" | translate}}</th>
		        <th >{{"Price" | translate}}</th>
	        	<th >{{"Total" | translate}}</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<tr>
		      	<td ><input class="form-control-sm "  type='text'
		      		id="tc" style="width :40px; text-align: center;"></td>
		      	<td id = 'tc_bonus' ></td>
		        <td id = 'tc_price' ></td>
		        <td id = 'tc_total' ></td>
		      </tr>
		    </tbody>
		 
		  </table>
		</div>
	 {%endif%}
         {%endif%}

		</div>
		
	</div>  
	  {%endif%}
	  <br>
	  
	{%if item.recipes%}
	<br>
	<h2>{{"Produce" | translate}}</h2>
	<table class="table-bordered border border-white border-responsive mt-1 tabe">
		<tbody>
			{% for i in target%}
			<tr>
				<td>
					<img loading="lazy" alt="" src="/static/icons/{{i.target.icon}}.png") class="icon-32">
				</td>
				<td>
					<a href="{{i.target.ids}}">{{i.target.name}}</a>
				</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
	<br>
	<h2>{{"Materials" | translate}}</h2>
	<table class="table-bordered border border-white border-responsive mt-1 tabe">
		<tbody>
			{% for i in materialRecipe%}
			<tr>
				<td>
					<img loading="lazy" alt="" src="/static/icons/{{i.material.icon}}.png") class="icon-32">
				</td>
				<td>
					<a href="{{i.material.ids}}">{{i.material.name}}</a>
				</td>
				<td style="text-align:right;">
					x{{i.qty}}
				</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
	{%endif%}

	{%if collectionBonus%}
	<br>
	  <table class="table-bordered border border-white border-responsive mt-1 tabe">
	    <tbody>
	    	{%for bonus in collectionBonus%}
		    	 <tr>
		    			<th>{{bonus.bonus_stat}}</th>
		    			<td>{{bonus.bonus_val}}</td>
		      </tr>
	      {%endfor%}
	    </tbody>
	 
	  </table>
	{%endif%}

	{%if collectionMaterial%}
	<br>
	<h2>{{"Materials" | translate}}</h2>
	  <table class="table-bordered border border-white border-responsive mt-1 tabe">
	    <tbody>
	    	{%for material in collectionMaterial%}
	    	 <tr>
	    		<td><img loading="lazy" alt="" src="/static/icons/{{material.material.icon}}.png") class="icon-24"> 	<a href="{{material.material.ids}}">{{material.material.name}}</a></td>
	      </tr>
	      {%endfor%}
	    </tbody>
	 
	  </table>
	{%endif%}

  {%if targetRecipe or collectionMaterialFor or dropped or mapDrop%}
  <br>
  <h2>{{"Refferences" | translate}}</h2>
  
  	<table class="table-bordered border border-white border-responsive mt-1 tabe">
		    <tbody>
		    	{%if targetRecipe%}
		    	<tr>
		      	<th>{{"Crafted From" | translate}}</th>
		      	<td>
		      		{%for i in targetRecipe%}
		      			<a href="{{i.recipe.item.ids}}"> <p class="mb-0"> <img loading="lazy" alt="" src="/static/icons/{{i.recipe.item.icon}}.png") class="icon-24">{{i.recipe.item.name}}</p></a>
		      			
		      		{%endfor%}
		      	</td>
		      </tr>
		      {%endif%}

		      {%if collectionMaterialFor%}
		      <tr>
		      	<th>{{"Collections" | translate}}</th>
		      	<td>
			      	{%for i in collectionMaterialFor%}
		      			<a href="{{i.collection.item.ids}}"><p class="mb-0"><img loading="lazy" alt="" src="/static/icons/{{i.collection.item.icon}}.png") class="icon-24"> {{i.collection.item.name}}</p></a>
			      			
		      		{%endfor%}
	      		</td>
		      </tr>
		      {% endif %}
		      {%if dropped%}
		    	<tr>
		      	<th style="vertical-align:top">{{"Dropped by" | translate}}</th>
		      	<td>
		      		{%for i in dropped%}
		      			<p class="mb-0"> <a href="{%url 'Monsters:monster' i.monster.ids%}"> <img loading="lazy" alt="" src="/static/icons/{{i.monster.icon}}.png") class="icon-24">{{i.monster.name}}</a> ({{i.chance}} %)</p> 
		      			
		      		{%endfor%}
		      	</td>
		      </tr>
		      {%endif%}
		      {%if mapDrop%}
		      <th style="vertical-align:top">{{"Dropped at" | translate}}</th>
		      	<td>
		      		{%for i in mapDrop%}
		      			<p class="mb-0"> <a href="{%url 'Maps:maps' i.map.ids%}"> {{i.map.name}}</a> ({{i.chance}} %)</p> 
		      			
		      		{%endfor%}
		      	</td>
		      </tr>
		      {%endif%}
		    </tbody>
		 
		  </table>
  {%endif%}

  <br>
  <h2>{{"Visual" | translate}}</h2>
  {%if item.cards%}
  	<img loading="lazy" alt="" src="/static/icons/{{item.cards.icon}}.jpg">
  {%else%}
  	<img loading="lazy" alt="" src="/static/icons/{{item.icon}}.png" style="width: 250px; height: 250px;">
  {%endif%}
  {% endblock %}

{% block script %}
	{% if item.equipments%}
		<script type="text/javascript">
		  {% if item.equipments.anvil_atk %}
				anvil_atk = {{item.equipments.anvil_atk}}
			{%endif%}

			{% if item.equipments.anvil_def %}
				anvil_def = {{item.equipments.anvil_def}}
			{%endif%}

			{% if item.equipments.anvil_price %}
				anvil_price = {{item.equipments.anvil_price}}
			{%endif%}

			{% if item.equipments.transcend_price %}
				transcend_price = {{item.equipments.transcend_price}}
			{%endif%}

			{% if item.equipments.patk %}
				patk = {{item.equipments.patk}}
				patk_max = {{item.equipments.patk_max}}
      {%endif%}
      {% if item.equipments.matk %}
				matk = {{item.equipments.matk}}
      {%endif%}

      {% if item.equipments.mdef %}
				mdef = {{item.equipments.mdef}}
      {%endif%}
      {% if item.equipments.pdef %}
				pdef = {{item.equipments.pdef}}
      {%endif%}

			anvils = [0,1,2,3,4,5,6,7,8,9,10,
								10,11,12,13,14,15,16,17,18,19,20,
								20,21,22,23,24,25,26,27,28,29,30,
								30,31,32,33,34,35,36,37,38,39,40,41]
			anv = 0
			anv_def = 0
			anv_atk = 0
			tc = 0
			tc_bonus = 0
			{% if item.grade == 6%}

				goddess_anvil     = {{anvil}}
				goddess_scale     = {{scale}}
				goddess_gabija    = {{gabija}}
				goddess_chance 		= {{chance}}

			{% endif%}

			$(document).ready(function(){
			    $("#anvil").on("input", function(){
			        // Print entered value in a div box
			        anv = $(this).val();
			        {%if item.grade == 6%}
				        if (anv>30){
				        	$("#anvil")[0].value = 30
				        	anv = 30
				        }
			        {% else %}
				        if (anv>40){
				        	$("#anvil")[0].value = 40
				        	anv = 40
				        }
			        {%endif%}
			        if (anv<0){
			        	$("#anvil")[0].value = 0
			        	anv = 0
			        }

							{% if item.equipments.is_goddess_armor %}
								if (anv ==0)
									anv_atk =0
								else	
									{%if item.grade == 6%}
										anv_atk = goddess_anvil.slice(0,[anv]).reduce((a, b) => a + b, 0)
										{% if item.equipments.type_equipment == 'Trinket'%} 
											anv_atk = Math.floor(anv_atk * 0.3)
										{%endif%}
									{%else%}
										anv_atk = anvil_atk[anv-1]
									{%endif%}

								$('#patk-ench')[0].innerHTML =  Math.floor(anv_atk *0.4)
								$('#matk-ench')[0].innerHTML =  Math.floor(anv_atk  * 0.4)
								
							{% endif %}

							{% if item.equipments.patk %}
								if (anv ==0)
									anv_atk =0
								else	
									{%if item.grade == 6%}
										anv_atk = goddess_anvil.slice(0,[anv]).reduce((a, b) => a + b, 0)
										{% if item.equipments.type_equipment == 'Trinket'%} 
											anv_atk = Math.floor(anv_atk * 0.3)
										{%endif%}
									{%else%}
										anv_atk = anvil_atk[anv-1]
									{%endif%}
								


								$('#patk')[0].innerHTML = patk + anv_atk + (patk * tc_bonus)
								$('#patk_max')[0].innerHTML = patk_max + anv_atk  + (patk * tc_bonus)
								$('#anvil_bonus')[0].innerHTML = anv_atk.toLocaleString('en') 
				      {%endif%}

				      {% if item.equipments.matk %}
								if (anv ==0)
									anv_atk =0
								else	
									{%if item.grade == 6%}
										anv_atk = goddess_anvil.slice(0,[anv]).reduce((a, b) => a + b, 0)
										{% if item.equipments.type_equipment == 'Trinket'%} 
											anv_atk = Math.floor(anv_atk * 0.3)
										{%endif%}
									{%else%}
										anv_atk = anvil_atk[anv-1]
									{%endif%}


								$('#matk')[0].innerHTML = matk + anv_atk + (matk * tc_bonus)
								
								$('#anvil_bonus')[0].innerHTML = anv_atk.toLocaleString('en') 
				      {%endif%}

				      {% if item.equipments.pdef %}
								if (anv ==0)
									anv_def =0
								else	
								{%if item.grade == 6%}
										anv_def = goddess_anvil.slice(0,[anv]).reduce((a, b) => a + b, 0)
									{%else%}
										anv_def = anvil_def[anv-1]
									{%endif%}


								$('#pdef')[0].innerHTML = pdef + anv_def + (pdef * tc_bonus)
								
								$('#anvil_bonus')[0].innerHTML = anv_def.toLocaleString('en') 
				      {%endif%}

				      {% if item.equipments.mdef %}
								if (anv ==0)
									anv_def =0
								else	
									
									{%if item.grade == 6%}
										anv_def = goddess_anvil.slice(0,[anv]).reduce((a, b) => a + b, 0)
									{%else%}
										anv_def = anvil_def[anv-1]
									{%endif%}


								$('#mdef')[0].innerHTML = mdef + anv_def + (mdef * tc_bonus)
								
								$('#anvil_bonus')[0].innerHTML = anv_def.toLocaleString('en') 
				      {%endif%}

				      {%if item.grade == 6%}
				      	$('#god_scale')[0].innerHTML = goddess_scale[anv-1]
				      	$('#god_gabija')[0].innerHTML = goddess_gabija[anv-1]
				      	$('#god_chance')[0].innerHTML = goddess_chance[anv-1]+'%'
				      	if (!(anv in anvils)){
				      		$('#god_scale')[0].innerHTML = ''
				      	$('#god_gabija')[0].innerHTML = ''
				      	$('#god_chance')[0].innerHTML = ''
				      	}
				      {%endif%}

				      {% if item.equipments.anvil_price %}
				      	if (anv ==0)
									pr =''
								else	
									pr = anvil_price[anv-1].toLocaleString('en') 
				      	$('#anvil_price')[0].innerHTML = (pr)
				      {%endif%}

				      {% if item.equipments.anvil_price %}
				      if (anv ==0)
									tot =''
								else	
									tot = (anvil_price.slice(0,[anv]).reduce((a, b) => a + b, 0)).toLocaleString('en') 
								$('#anvil_total')[0].innerHTML =  tot 
				      	
				      {%endif%}
			    });

			    $("#tc").on("input", function(){
			        // Print entered value in a div box
			        tc = $(this).val();
			        if (tc>10){
			        	$("#tc")[0].value = 10
			        	tc = 10
			        }
			        
			        if (tc<0){
			        	$("#tc")[0].value = 0
			        	tc = 0
			        }
							tc_bonus = tc *0.1 {% if item.grade == 6%} *0.3{%endif%}

							{% if item.equipments.patk %}


								$('#patk')[0].innerHTML = patk + anv_atk + Math.floor(patk * tc_bonus)
								$('#patk_max')[0].innerHTML = patk_max + anv_atk  + Math.floor(patk * tc_bonus)
								$('#tc_bonus')[0].innerHTML = tc_bonus * 100 + "%"
				      {%endif%}

				      {% if item.equipments.matk %}


								$('#matk')[0].innerHTML = matk + anv_atk + Math.floor(matk * tc_bonus)
								$('#tc_bonus')[0].innerHTML = tc_bonus * 100 + "%"
				      {%endif%}

				      {% if item.equipments.pdef %}


								$('#pdef')[0].innerHTML = pdef + anv_def + Math.floor(pdef * tc_bonus)
								$('#tc_bonus')[0].innerHTML = tc_bonus * 100 + "%"
				      {%endif%}

				      {% if item.equipments.mdef %}


								$('#mdef')[0].innerHTML = mdef + anv_def + Math.floor(mdef * tc_bonus)
								$('#tc_bonus')[0].innerHTML = tc_bonus * 100 + "%"
				      {%endif%}

				      {% if item.equipments.anvil_price %}
				      	if (tc ==0)
									pr =''
								else	
									pr = transcend_price[tc-1]
				      	$('#tc_price')[0].innerHTML = (pr)
				      {%endif%}

				      {% if item.equipments.transcend_price %}
				      if (tc ==0)
									tot =''
								else	
									tot = (transcend_price.slice(0,[tc-1]).reduce((a, b) => a + b, 0)).toLocaleString('en') 
								$('#tc_total')[0].innerHTML =  tot 
				      	
				      {%endif%}
			    });
			});


		</script>
	{%endif%}
	
	{% if pages%}
	<script type="text/javascript">
		pages = "{{pages}}"
	</script>
	{%endif%}
	
{% endblock %}

