{% extends 'base/index.html' %}
{% load translate%}
<!--Block content goes below-->
{%block head%}
    <title>{{item.name}} - Tavern of Soul</title>
    <meta content="{{item.name}} - Tavern of Soul" property="og:title" />
    <meta content="{{item.descriptions}}" property="og:description" />
    <meta content="https://itos.tavernofsoul.com" property="og:url" />
    {%if item.cards%}
    	<meta content="https://itos.tavernofsoul.com/static/icons/{{item.cards.icon}}.jpg" property="og:image" />
    {%else%}
    	<meta content="https://itos.tavernofsoul.com/static/icons/{{item.icon}}.png" property="og:image" />
    {%endif%}
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
     <meta  property="og:description"content="
    {%if desc%}
        {% for line in desc%}
          {{line}}
        {%endfor%}
    {%endif%}">
    <meta name="description" content="
    {%if desc%}
        {% for line in desc%}
          {{line}}
        {%endfor%}
    {%endif%}">

{%endblock%}

  {% block content %}

<h1 id="title">{{item.name}}</h1>
{%if desc%}
	{% for line in desc%}
		<p class="mb-0">{{line}}</p>
	{%endfor%}
{%endif%}
{%if item.books.text%}

{%endif%}
<br>
	  
<div class="form-inline">
	<table class="table-bordered border border-white border-responsive mt-1 tabe" >
    <thead>
      <tr>
      	<th>ClassID</th> 	
      </tr>
    </thead>
    <tbody>
    	 <tr>
    	 	<td>{{item.ids}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
      	<th>ClassName</th>
      </tr>
    </thead>
    <tbody>
    	 <tr>
    	 	<td>{{item.id_name}}</td>
      </tr>
    </tbody>
 
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
        <th>{{"Type" | translate}}</th>
      </tr>
    </thead>
    <tbody>
    	 <tr>
    	 	{% if item.equipments%}
    	 		<td>{{item.equipments.type_equipment}}</td>
    	 	{%else%}
        	<td>{{item.type}}</td>
        {%endif%}
      </tr>
    </tbody>
 
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
        {%if item.grade%}
        	<th>{{"Grade" | translate}}</th>
        {%endif%}
      </tr>
    </thead>
    <tbody>
    	 <tr>
        {%if item.grade%}
        	<td class="cell-center"><span class="item-grade item-grade-{{item.grade}}"></span></td>
        {%endif%}
      </tr>
    </tbody>
 
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
        <th>{{"Trade" | translate}}</th>
      </tr>
    </thead>
    <tbody>
    	 <tr>
        <td>{{item.tradability}}</td>
      </tr>
    </tbody>
 
  </table>
  <table class="table-bordered border border-white border-responsive mt-1 tabe">
    <thead>
      <tr>
        {%if item.Weight > 0%}
        	<th>{{"Weight" | translate}}</th>
        {%endif%}
      </tr>
    </thead>
    <tbody>
    	 <tr>
        {%if item.Weight > 0%}
        	<td>{{item.weight}}</td>
        {%endif%}
      </tr>
    </tbody>
 
  </table>
  {%if item.equipments%}
	  <table class="table-bordered border border-white border-responsive mt-1 tabe">
	    <thead>
	      <tr>
	        	<th>{{"Level" | translate}}</th>
	      </tr>
	    </thead>
	    <tbody>
	    	 <tr>
	        	<td>{{item.equipments.level}}</th>
	      </tr>
	    </tbody>
	 
	  </table>

	  <table class="table-bordered border border-white border-responsive mt-1 tabe">
	    <thead>
	      <tr>
	        	<th>{{"Class" | translate}}</th>
	      </tr>
	    </thead>
	    <tbody>
	    	 <tr>
	        	<td>{{item.equipments.requiredClass}}</th>
	      </tr>
	    </tbody>
	 
	  </table>
	{%endif%} 
</div>

  

{%if item.equipments%}
	<br>
	<div class="form-inline align-items-start">
		<div class="mr-4">
			<h2>{{"Stats" | translate}}</h2>
	  <table class="table-bordered border border-white border-responsive mt-1 tabe">
	    <thead>
	      <tr>

        	<th>{{"Durability" | translate}}</th>
        	{%if item.equipments.potential > -1%}
        	<th>{{"Potential" | translate}}</th>
        	{%endif%}
        	<th>{{"Socket" | translate}}</th>
	      </tr>
	    </thead>
	    <tbody>

        	<td>{{item.equipments.durability}}</td>
        	{%if item.equipments.potential > -1%}
        	<td>{{item.equipments.potential}}</td>
        	{%endif%}
        	<td>{{item.equipments.sockets_limit}}</td>
	      </tr>
	    </tbody>
	 
	  </table>
	  <br>

	  <table class="table-bordered border border-white border-responsive mt-1 tabe">
	    <thead>
	      <tr>
	      	{% if item.equipments.patk or item.equipments.is_goddess_armor%}
	      	<th>{{"PATK"|translate}}</th>
	      	{% endif %}
	      	{% if item.equipments.matk or item.equipments.is_goddess_armor%}
	      	<th>{{"MATK"|translate}}</th>
	      	{% endif %}
	      	{% if item.equipments.pdef%}
	        <th>{{"PDEF"|translate}}</th>
	        {% endif %}
	        {% if item.equipments.mdef%}
        	<th>{{"MDEF"|translate}}</th>
        	{% endif %}

	      </tr>
	    </thead>
	    <tbody>
	    	 <tr>
	    	 	{%if item.equipments.is_goddess_armor%}
	    	 		<td id ='patk-ench' data-value = 0>0</td>
	    	 	{%endif%}
	    	 	{% if item.equipments.patk %}
	    	 		<td ><span id = "patk" data-value = {{item.equipments.patk}} class="mr-1" >{{item.equipments.patk}}</span>
	    	 				  -  
	    	 			<span class="ml-1" id = "patk_max" data-value = {{item.equipments.patk_max}} >{{item.equipments.patk_max}}</span></td>
	    	 	{%endif%}
	    	 	{%if item.equipments.is_goddess_armor%}
	    	 		<td id ='matk-ench' data-value = 0>0</td>
	    	 	{%endif%}
	    	 	{% if item.equipments.matk %}
	      		<td id = "matk" data-value = {{item.equipments.matk}}>{{item.equipments.matk}}</td>
	      	{% endif %}

	      	{% if item.equipments.pdef%}
	        	<td id = "pdef" data-value = {{item.equipments.pdef}}>{{item.equipments.pdef}}</td>
	        {% endif %}

	        {% if item.equipments.mdef%}
        		<td id = "mdef" data-value = {{item.equipments.mdef}}>{{item.equipments.mdef}}</td>
        	{% endif %}

	      </tr>
	    </tbody>
	 
	  </table>

  
	  {%if equipment_bonus%}
		 	{%include 'Items/equipment_bonus.html'%}
		{%endif%}

		</div>
	</div>
	{%endif%}

	<div class="mr 4">
			
	{%if item.equipments.patk or item.equipments.matk or item.equipments.mdef or item.equipments.def %}
        {%if item.equipments.type_equipment != 'Arcane' %}
        		<br>
		        {%include 'Items/enhancement.html'%}
		        
        
			  {%endif%}
			  <br>
	{%endif%}
	{%if item.recipes%}
		{%include 'Items/recipes.html'%}
	{%endif%}

	{%if collectionBonus%}
		{%include 'Items/collectionBonus.html'%}
	{%endif%}

	{%if collectionMaterial%}
		{%include 'Items/materials.html'%}
	{%endif%}

  {%if targetRecipe or collectionMaterialFor or dropped or mapDrop%}
  		{%include 'Items/refferences.html'%}
  {%endif%}
	
	{% if item.equipments.equipment_set_set.all%}
			{%include 'Items/equipment_set.html'%}
	{%endif%}
  <br>
  <div class="d-flex">
	  
	  <div>
		  <h2>{{"Visual" | translate}}</h2>
		  {%if item.cards%}
		  	<img loading="lazy" alt="" src="/static/icons/{{item.cards.icon}}.jpg">
		  {%else%}
		  	<img loading="lazy" alt="" src="/static/icons/{{item.icon}}.png" style="width: 250px; height: 250px;">
		  {%endif%}
		</div>
	</div>

{%if item.grade == 6%}
	{{ mat|json_script:"mat" }}
	{{ reinf|json_script:"reinf" }}
{%endif%}
{% endblock %}

{% block script %}
	{% if item.equipments%}
	<script type="text/javascript">

	  grade = {{item.grade}}
		
		bonus = 0
		total_anv = 0
		tc_multipier = 1

		{%if reinf and item.grade != 6%}
			anvil = {{reinf}}
			anvil_price = {{reinf_price}}
		{%endif%}
		{% if tc_cost%}
			tc_price = {{tc_cost}}
		{%endif%}
		addAtk	  = 0
		anvil_max = {%if item.grade == 6 %} 30 {%else%} 40 {%endif%}

		{%if item.grade == 6%}
			mat    =  JSON.parse(document.getElementById('mat').textContent);
			reinf  =  JSON.parse(document.getElementById('reinf').textContent);
		{%endif%}

		{% if item.equipments.patk %}
  		target = [ $("#patk_max"), $("#patk")]
  	{% elif item.equipments.patk %}
  		target = [ $("#matk")]
  	{% elif item.equipments.is_goddess_armor%}
  		target = [ $("#patk-ench"), $("#matk-ench"),]
  	{% elif item.equipments.pdef%}
    	target = [ $("#pdef")]  	
  	{% else %}
  		target = [ $("#mdef")]  	
  	{% endif %}
  	


		$(document).ready(function(){
	    $("#anvil").on("input", function(){
        // Print entered value in a div box
        anv = $(this).val();
        if (anv>anvil_max){
        	$("#anvil")[0].value = anvil_max
        	anv = anvil_max
        }
        processAnvil(anv)
      })

      $("#tc").on("input", function(){
        // Print entered value in a div box
        tc = $(this).val();
        if (tc>10){
        	$("#tc")[0].value = 10
        	tc = 10
        }
        
        if (tc<0){
        	$("#tc")[0].value = 0
        	tc = 0
        }
        processTC(tc)
      })

    })


    function sum(array, start, end){
    	su = 0
    	for (a = start; a<end; a++){
    		su+=array[a]
    	}
    	return su
    }

    function refreshEq(){
    	for (i in target){
    		i = target[i]
    		value = parseInt(i[0].dataset.value)
      	i[0].innerText = splitThousand ( Math.floor(addAtk + (tc_multipier * value)) )
      }
    }

    function splitThousand(item){
    	return item.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    }


    {%if item.grade == 6%}
	    {% if item.equipments.is_acc%}
	    	reinf_key = 'addacc'
	    {%else%}
	    	reinf_key = 'addatk'
	    {%endif%}

	    function sumReinf(end){
	    	su = 0
	    	for (a = 1; a<=end; a++){
	    		su+=reinf[a][reinf_key]
	    	}
	    	return su
	    }
	    ench = 0

	    function processAnvil(ench){
	    	ench = parseInt(ench)
	    	type = '{{items.equipments.type_equipment}}'
	    	bonus = $("#anvil_bonus")
	    	addAtk = sumReinf(ench)
				
				for( i in mat[ench]){
					$('#'+i)[0].innerText = mat[ench][i]['mat_count']
				}
	    	bonus[0].innerText 	= addAtk
	    	
	    	{% if item.equipments.is_goddess_armor%}
	    		addAtk = Math.floor( addAtk*0.4 ) //goddess armor add 0.4 ench
	    	{%endif%}


	    	$("#chance_ench")[0].innerHTML = (reinf[ench]['chance'] * 100) + "%"
	    	refreshEq()
	    }

	    function processTC(tc){
	    	tc 						= parseInt(tc)
	    	if (!tc) 
	    		tc  = 0
	    	tc_multipier 	= 1 + (tc * 0.1 * 0.3)
	    	value 				= parseInt(target[0][0].dataset.value)
	    	
	    	$("#tc_bonus")[0].innerText = Math.floor(tc * 0.1 * 100) + "% "
	    	console.log(tc)
	    	$("#tc_price")[0].innerText = tc_price[parseInt(tc)] - (parseInt(tc)-1 <=0 ? 0: tc_price[parseInt(tc)-1])
	    	$("#tc_total")[0].innerText = tc_price[tc]

	    	refreshEq()

	    }
    {%else%}
    
    function processAnvil(enchs){
    	ench = parseInt(enchs)
    	type = '{{items.equipments.type_equipment}}'
    	bonus = $("#anvil_bonus")
    	total = $("#anvil_total")
    	price = $("#anvil_price")

    	price[0].innerText  = splitThousand (ench == 0? 0 : anvil_price[ench-1] );
    	total_anv 					= ench == 0? 0 : sum(anvil_price,0,ench)
      total[0].innerText 	= splitThousand (total_anv)
    	addAtk 							= ench == 0? 0 : anvil[ench-1] ;
    	bonus[0].innerText 	= addAtk
    	refreshEq()
    }

    function processTC(tc){
    	tc 						= parseInt(tc)
    	if (!tc) 
    		tc  = 0
    	tc_multipier 	= 1 + tc * 0.1
    	value 				= parseInt(target[0][0].dataset.value)
    	$("#tc_bonus")[0].innerText = Math.floor(tc * 0.1 * 100) + "% "
    	$("#tc_price")[0].innerText = tc == 0? 0: tc_price[tc-1]
    	$("#tc_total")[0].innerText = sum(tc_price, 0, tc)

    	refreshEq()

    }
    {%endif%}
	</script>
	{%endif%}
	
	{% if pages%}
	<script type="text/javascript">
		pages = "{{pages}}"
	</script>
	{%endif%}
	
{% endblock %}
