
{% extends 'base/index.html' %}
{%load translate%}
<!--Block content goes below-->
{%block head%}
    <title>Buffs - Tavern of Soul</title>
    <meta content="Buffs - Tavern of Soul" property="og:title" />
      <meta content="Tree of Savior database" property="og:description" />
    <meta name="description" content="Tree of Savior database">
    <meta content="https://itos.tavernofsoul.com" property="og:url" />
    <meta content="https://itos.tavernofsoul.com/static/images/logo.png" property="og:image" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />

{%endblock%}

  {% block content %}

<h1 id="title">{{"Buffs" | translate}}</h1>
<form autocomplete="off" action="" method="GET" >
  <div class="form-inline">
    <input type="input" class="form-control" id="inputPassword2" placeholder="Search..."  value="{{query}}" name="q" >
  </div>

<br>


  {%if item%}
  <label class="mt-1 mb-1">{{item_len}} {{'Results' | translate}}</label>
  <table class="table-bordered border border-white border-responsive mt-1">
    <thead>
      <tr>
        <th>ClassID</th>
        <th>ClassName</th>
        <th>{{'Name' | translate}}</th>
        <th>{{'Keyword' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      {% for i in item %}
      <tr>
        <td><a href="{%url 'Buffs:buffs' i.ids %}">{{i.ids}}</a></td>
        <td>{{i.id_name}}</td>
        <td>{{i.name}}</td>
        <td>{{i.keyword}}</td>
      </tr>
      {%endfor%}
    </tbody>
    {%if pages %}
    <tfoot>
      <tr>
        <td class="footer-more" style="text-align: center; font-size: 15px;" colspan="7">
          <ul class="pagination" style="display: inline;"  >
              {% if curpage >= 2 %}
              <li><a href="{{ pageStart }}"><<</a></li>
              {%endif%}
              {% if curpage > 1 %}
              <li><a href="{{ pagebefLink }}"><</a></li>
              {%endif%}
            {% for i in pages%}
              
              {%if i.page != curpage%}
              <li><a href="{{i.link}}">{{i.page}}</a></li>
              {%else%}
              <li>{{i.page}}</li>
              {%endif%}
            {%endfor%}
              {% if curpage <=  beforeEnd  %}
              <li><a href="{{ pageNextLink }}">></a></li>
              {%endif%}
              {% if curpage < pageLen %}
                <li><a href="{{ pageEnd }}">>></a></li>
              {%endif%}
          </ul>
        </td>
      </tr>
    </tfoot>
    {% endif %}
  </table>

{%endif%}
{% endblock %}

